:root{
    --cor1: #f8f9fa;
    --cor2: rgba(0,0,0,.87);
    --cor3: #3c4043;
    --cor4: #ccc;
    --cor5: #F3F5F6;
    --cor6: #202124;
    --cor7: #dadce0;
    --cor8: #f8f9fa;
}

html, body{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

.nav-header, .nav-main, .nav-footer{
    cursor: pointer;
    text-decoration: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.nav-cabecalho{
    font-family: arial,sans-serif;
    font-size: 14px;
    display: flex;
    margin-top: 15px;
    justify-content: flex-end;
    align-items: center;
}

.nav-header{
    color: var(--cor2);
    padding-left: 20px;
}

#person{
    color: var(--cor3);
    padding-right: 10px;
    margin-top: 5px;
}

#imagem-googleApp{
    margin-top: 5px;
    color: var(--cor3);
}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

#imagem-google{
    width: 250px;
}

.pesquisa div{
    max-width: 650px;
    width: 100%;
    height: 50px;

    margin: 30px auto 0;
  
    border: 1px solid var(--cor4);
    border-radius: 24px;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.10);
}

.pesquisa div:hover{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.barra-pesquisa{
    display: flex;
    align-items: center;
}

.icon, .icon-ia{
    border: none;
    background-color: transparent;
    cursor: pointer;

    padding: 8px 8px;
    color: var(--cor3);
} 

#imagemIA{
    width: 100px;
    height: auto;

    border: 3px solid transparent;
    border-radius: 20px;
    background-color: white;
}

#imagemIA:hover{
    background:
    linear-gradient(white, white) padding-box,
    conic-gradient(
        red,
        orange,
        yellow,
        lime,
        cyan,
        blue,
        magenta,
        red
    );
}

#add{
    margin-left: 6px;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 4px 4px;
    color: black;
}

#add:hover{
    background-color:var(--cor5);
}

textarea{
    flex: 1;
    height: 30px;

    border: none;
    resize: none;
    outline: none;

    padding-top: 8px;
    
    font-family: Arial, Helvetica, sans-serif;
}

.acoes{
    display: flex;
    justify-content: center;

    width: 100%;
    margin-top: 30px;
    gap: 15px;
}

.acoes button{
    cursor: pointer;
    padding: 0 16px;
    height: 36px;

    border: 1px solid var(--cor8);
    border-radius: 8px;
    
    background-color: var(--cor8);
    color: var(--cor3);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.acoes button:hover{
    color: #202124;

    border: 1px solid var(--cor4);
    box-shadow: 0 1px 2px rgb(0, 0, 0, 0.15);
}

footer{
    background-color: var(--cor5);
    width: 100%;
    margin-top: 40px;
}

footer p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor6);

    border-bottom: 1px solid var(--cor4);
    padding-left: 30px;
    padding-bottom: 17px;
}

.rodape{
    display: flex;
    justify-content: space-between;
    padding: 12px 30px;
}

.rodape li:hover{
    text-decoration: underline;
}

.rodape ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.nav-footer{
    color: var(--cor6);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 900px) {

    .rodape{
        flex-direction: column;
        gap: 25px;
    }

    .rodape ul{
        justify-content: center;
        flex-wrap: wrap;
    }
}